<section class="hero is-dark is-fullheight">

  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title is-2">Tasks</p>
      <button class="button is-info" (click)="this.toggleModalOpen()">
        Add a Task
      </button>
    </div>
  </div>

</section>



<!--

  iOS
  - Pending changes on save screen with function from Paul
      -> send to admin for approval
  - Tasks screen with list and button for details
    - tab for assigned and tab for completed
  - Task Detail with completed button
      -> send to admin for approval
  - [WISH][ADMIN] Task creation and listing
  - [WISH][ADMIN] Task and Move approval

  Web
  - [ADMIN] Task creation and listing
  - [ADMIN] Task and Move approval

 -->
