
<section class="hero is-dark is-fullheight">

  <div class="hero-body">
    <div class="container has-text-centered">
    <p class="title is-1"> {{ this.appData.query }}</p>
  </div></div>

  <div class="hero-body">
    <br>
    <div class="container has-text-centered">
      <div class="columns is-half is-centered is-vcentered">
        <div class="column is-4">
          <p class="title is-2">Search</p>
          <app-search-page-how-to-text></app-search-page-how-to-text>
        </div>
        <div class="column is-1">
          <img src="assets/images/divider.png">
        </div>
        <div class="column is-7">

          <app-number-pad style="max-width: 320px;"></app-number-pad>
        </div>
      </div>
    </div>
  </div>
</section>
