<!-- HTML for main Login page -->

<section class="hero is-dark is-fullheight">

  <div class="hero-body">
    <div class="container has-text-centered">

      <div class="hover-color">
        <figure>
          <img src="assets/images/StockManagerLogoV1.png" width="300px" height="300px">
        </figure>
      </div>
      <p class="title is-2">{{ appData.title }}</p>
      <div *ngIf="loginButton">
        <app-icon-button [button]="loginButton" (click)="loginButtonClicked()"></app-icon-button>
      </div>

    </div>
  </div>

  <div class="hero-foot has-text-centered">
    <p class="subtitle is-6">By <b>Joseph Paul</b> & <b><a href="http://www.zachgrimaldi.com"><u>Zach Grimaldi</u></a></b></p>
    <br>
  </div>
</section>
