<div class="modal is-active" #modal>
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">
        <!-- modal title goes here -->
      </p>
      <button class="delete" aria-label="close" (click)="toggleModalOpen()"></button>
    </header>
    <section class="modal-card-body">
      <!-- modal body content goes here -->
      some content
    </section>
    <footer class="modal-card-foot">
      <!-- modal action buttons, etc. go here -->
    </footer>
  </div>
</div>
