<!-- HTML code for buttons -->

<div *ngIf="this.button.link !== null">
  <a href="{{this.button.link}}">
    <button class="button {{this.getButtonClassString()}}" [disabled]="this.button.disabled">
      <span class="icon">
        <i class="mdi mdi-{{this.button.iconSuffix}} mdi-24px">
        </i>
      </span>
      <span>
        {{this.button.title}}
      </span>
    </button>
  </a>
</div>

<div *ngIf="!this.button.link">
  <button class="button {{this.getButtonClassString()}}" (click)="this.button.clickFunction()" [disabled]="this.button.disabled">
    <span class="icon">
      <i class="mdi mdi-{{this.button.iconSuffix}} mdi-24px">
      </i>
    </span>
    <span>
      {{this.button.title}}
    </span>
  </button>
</div>
